/* src/app/globals.css */
@import "tailwindcss";

:root {
  --cream: #faf7f3;
  --peach: #d9a299;
  --coffee: #dcc5b2;
  --skin: #f0e4d3;
  --white: #ffffff;
}

.text-cream {
  color: var(--cream);
}
.text-peach {
  color: var(--peach);
}
.text-coffee {
  color: var(--coffee);
}
.bg-cream {
  background-color: var(--cream);
}
.bg-peach {
  background-color: var(--peach);
}
.bg-coffee {
  background-color: var(--coffee);
}
